header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #f0f0f0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        width: 80%;
        margin: 0 auto;

        h2 {
            font-size: 2rem;
            color: $title-color;
            cursor: pointer;
        }

        nav {
            ul {
                list-style-type: none;
                display: inline-block;

                li {
                    display: inline-block;

                    .categories {
                        cursor: pointer;
                        margin: 0 15px;
                        font-weight: 600;
                        font-size: 1.1rem;
                        color: black;
                        text-decoration: none;

                        &:hover {
                                color: $main-color;
                        }
                    }

                    .active {
                        color: $main-color;
                    }
                }

            }
        }

        .signin {
            display: block;
            font: 600 1.1rem $main-font;
            border: none;
            border-radius: 30px;
            background-color: $main-color;

            a {
                display: inline-block;
                padding: 17px 23px;
                text-decoration: none;
                color: white;
            }

            &:hover {
                background-color: $hover-color;
            }
        }
    }
}